  body {
  background-image: url("/billeder/spil_mobil.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;

}

  /* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden; /* etc makes branding fit into the top */
}

#showcase {
  height: 150px;
  text-align: center;

}

/* form med navn */
#name {
  text-align: center;
  font-size: 20px;
}
#name input {
  text-align: center;
  font-size: 20px;
  width: 75%;
  border-radius: 25px;
  border: solid black;
  margin-top: 10px;
}

#showcase h1 {
  font-size: 2em;
  color: black;
  font-weight: bold;
}

.text_headline{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

input {
    width: 50%;
    height: 30px;
}

.button{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.checkmark{
  height: 80px;
  margin: 25px;
}

.btn1{
  background-image: url("../billeder/checkmark_ikon.svg");
  width: auto;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#backbtn {
  display: none;
}

.backBtn{
    background-image: url("../billeder/backbutton.svg");
    width: 33%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;


}

#page1{
background-color: rgba(255, 255, 255, 0.9);
width: 85%;
height: 50vh;
margin: auto;
margin-top: 30px;
border-radius: 25px;
padding-bottom: 15px;
}

/*pages*/
#page3{
display:none;
}
#page2{
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    width: 85%;
    height: 50vh;
    margin: auto;
    margin-top: 30px;
    border-radius: 25px;
    padding-bottom: 15px;
}

#page3{
display:none;
}

/*navigation*/
.nav-mobile {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  color: white;
  border-radius: 10px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.navbar #myLinks {
  display: none;
}

.navbar a {
  float: left;
  color: white;
  padding: 6px 9px;
  text-decoration: none;
  font-size: 15px;
}

/*Menu icon*/
.burger_menu_ikon_container {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.active {
  background-color: #29abe2;
  color: white;
  border: solid black;
  border-width: thin;
}


/*Logo*/
.storm_logo_container img {
  width: 60px;
  padding: 8px 9px;
  float: left;
}



/*play, pause, mute*/

button#playpausebtn {
	background:url(../billeder/storm_pause_ikon.svg) no-repeat;
    width: 15px;
    height: 16px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}
button#mutebtn{
	background:url(../billeder/storm_sound_on_ikon.svg) no-repeat;
    width: 15px;
    height: 16px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}


  #boxes {
  margin-top: 170px;
  }

  #boxes .box {
    float: left;
    width: 30%;
    padding: 0px;
    margin-left: 8px;
}

  #boxes .box img {
  width: 130px;
}

.backbutton{
    width: 80px

}

.objects {
    display:inline-block;
    background-color: #FFF3CC;
    border: black 1px solid;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    text-align: center;
    box-shadow: 2px 2px 2px #999;
    cursor: move;
}

#hat {
  background: url(".../billeder/panda.png");

}




#app_status {
  text-align: center;
  margin-top: 5px;
}

/*464 * 616*/
#drop_zone-head {
    background-color: #EEE;
    border: #999 1px solid;
    width: 50px;
    height: 50px;
    padding: 8px;
    font-size: 18px;
    position: relative;
    display:inline-block;
    z-index: +1;
    top: 60px;
    left: 240px;
}

#drop_zone-body {
    background-color: #EEE;
    border: #999 1px solid;
    width: 50px;
    height: 50px;
    padding: 8px;
    font-size: 18px;
    position: relative;
    display:inline-block;
    z-index: +1;
    top: 250px;
    left: 160px;
}

#drop_zone-feet {
  background-color: #EEE;
  border: #999 1px solid;
  width: 50px;
  height: 50px;
  padding: 8px;
  font-size: 18px;
  position: relative;
  display:inline-block;
  z-index: +1;
  top: 350px;
  left: 65px;
}

#panda {
  width: 400px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

.centerobjects {
position: absolute;
  left: 50%
}

@media screen and (min-width: 768px)
