body{
  background-image: url("");
  font-family:Arial, Helvetica;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  Background-color: #f4f4f4;
}

  /* Global */
  .container{
  width: 80%;
  margin: auto;
  overflow: hidden; /* etc makes branding fit into the top */
}

  #showcase {
    height: 150px;
    text-align: center;
    opacity: 0.8;
}

.button {
  background-color: #4CAF50;
  color: green;
  text-align: center;
  height: 50px;

}


#name {
  text-align: center;
  font-size: 20px;
}
#name input {
  text-align: center;
  font-size: 20px;
}

#showcase h1 {
  font-size: 40px;
  color: black;
}



input {
    width: 70%;
    height: 30px;
}

.btn1{
	border-radius: 50%;
	height: 50px;
	background-color: darkred;
	color: white;
	border-color: black;
}
